{% extends 'index.html' %}
{% block page_title %}
    <title>SISGEPO | Plan de trabajo</title>
{% endblock %}
{% block plan2 %}
active
{% endblock %}
{% block PlanesdeTrabajo %} active menu-open {% endblock %}
{% block PlanesdeTrabajo_active %} active {% endblock %}
{% block Planes %} active menu-open {% endblock %}
{% block Planes_active %} active {% endblock %}

{% block menu_gestion %} active menu-open {% endblock %}
{% block menu_gestion_active %} active {% endblock %}
{% block menu_p14 %} active menu-open{% endblock %}
{% block menu_p14_active %} active {% endblock %}

{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Plan de cuadro</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">P00</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Plan de Trabajo.</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block miestilo %}
<style>
.btn-primary-transparent{
    color: #007bff;
    background-color: transparent;
    border-color: transparent;
}

/* Codigo para el boton On/Off */
.checkbox-activate
{
    display:none;
}

.switch {
    width: 42px;
    height: 22px;
    background: #E5E5E5;
    z-index: 0;
    margin-right: 5px;
    padding: 0;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 16px; /*IE 11*/
    -moz-border-radius: 16px; /*Mozilla*/
    -webkit-border-radius: 16px;/*Chrome and Safari*/
    }

.switch:before
{
    width: 42px;
    height: 22px;
background: #E5E5E5;
z-index: 0;
margin: 0;
padding: 0;
appearance: none;
border: none;
cursor: pointer;
position: relative;
border-radius:16px; /*IE 11*/
-moz-border-radius:16px; /*Mozilla*/
-webkit-border-radius:16px; /*Chrome and Safari*/
}

.switch:after
{
content: ' ';
height: 19px;
width: 19px;
border-radius: 28px;
z-index: 2;
background: #FFFFFF;
position: absolute;
-webkit-transition-duration: 300ms;
transition-duration: 300ms;
top: 1px;
left: 1px;
-webkit-box-shadow: 0 2px 5px #999999;
box-shadow: 0 2px 5px #999999;
}
.switchOn , .switchOn:before
{
background: #007bff !important;
}
.switchOn:after
{
left: 24px !important;
}
</style>
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row card-header">
                
                    <form action="{% url 'exportar_plan2' %}" class="form-horizontal">
                        <div class="row col-12 align-items-center">
                            
                            <div class="col-4">
                                <button type="submit" class="btn btn-outline-secondary fa-pull-left">
                                    <span class="fa fa-file-pdf"> Exportar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                    {% if perms.SISGDDO.add_plantrabajo %}
                    <div class="col-10">
                        <a href="{% url 'crearplanAct' %}" class="btn btn-primary fa-pull-right">
                            <span class="fa fa-plus"> Adicionar </span>
                        </a>
                    </div>
                    {% endif %}
                </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Número
                                </th>
                                <th>
                                    Actividad
                                </th>
                                <th>
                                    Día de actividad
                                </th>
                                <th>
                                    Hora de la actividad
                                </th>
                            
                                <th>
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                        
                                {%for lt in lista%}
                                {% if lt.plan == 'Cuadro' %}
                                {% if lt.activo %}
                                <tr id="{{ lt.id }}">
                                    <td>
                                        {%cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' %}
                                    </td>
                                    <td>
                                        {{ lt.descripcion }}
                                    </td>
                                    <td>
                                        {{ lt.dia }} 
                                    </td>
                                    <td>
                                        {{ lt.hora }} 
                                    </td>
                                     
                                    <td>
                                       <span class="input-group">
                                       
                                        {% if perms.SISGDDO.view_plantrabajo %}
                                        <a href="{% url 'detalle_plan' lt.id %}"
                                             class="btn btn-sm btn-primary btn-primary-transparent" title="Detalles de la actividad">
                                        <i class="fa fa-eye"></i>
                                        </a>
                                        {% endif %}
                                        {% if perms.SISGDDO.delete_plantrabajo %}
                                            <a href="{% url 'eliminar_plan1' lt.id %}"
                                                class="btn btn-sm btn-primary btn-primary-transparent ml-2" title="Eliminar la actividad">
                                            <i class="fa fa-trash"></i>
                                            </a>
                                            {% endif %}          
                                     <td>
                    <span class="input-group">
                    
              </span>
                </td> 
                {% endif %}
                {% endif %}
                {% endfor %}                       
                                   
                                </tr>
                                {% comment %} {% c = c + 1 %} {% endcomment %}
                            {%comment%} {% endfor %} {%endcomment%}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
{% block script %}
<script>
    
      $(document).ready(function()
{
    var href = $('#formExportar').attr('formaction');
    
    var table = $('#example1').DataTable();
    //table.column(0).visible(false);
    
        $('#id_export_date').daterangepicker({
            singleDatePicker: true,
            startDate: moment(),
            endDate: moment().endOf('year'),
            maxYear: moment().year(),
            locale: {
                format: 'DD-MM-Y',
                separator: ' | ',
                applyLabel: 'Aplicar',
                cancelLabel: 'Cancelar',
                weekLabel: 'W',
                customRangeLabel: 'Personalizado',
                daysOfWeek: moment.weekdaysMin(),
                monthNames: moment.monthsShort()
            }
        });
    

    function selectOnlyFiltered(){
        var filteredRows = table.rows({filter: 'applied'}).data().toArray();
        return filteredRows;
    }

    $('#exportar').on('click', function() {
        Toast.fire({
            type: 'info',
            title: '   Exportando PDF...',
        });
        let arreglo = selectOnlyFiltered();
        if (arreglo.length == 0){
            Toast.fire({
                type: 'warning',
                title: '   Nada que exportar...',
            });
            return;
        }
        let arr = [];
        for (x of arreglo) {
            arr.push(x[0]);
        }
        //console.log(arr);
        
        var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', href, true);
        xhr.responseType = 'blob';
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', csrf_token);
        
        var data = {
            tabla: 'consecutivo',
            arr: arr,
            titulo: 'Listado de afectaciones a la produccion',
        };
        var jsonData = JSON.stringify(data);
        //console.log(jsonData);
        
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Crear una URL del Blob de la respuesta
                var blob = xhr.response;
                var url = URL.createObjectURL(blob);
            
                // Crear un enlace para mostrar el PDF en el navegador
                var link = document.createElement('a');
                link.href = url;
                link.target = '_blank';
                link.click();
            } else {
                // Manejar errores de la solicitud AJAX
                Toast.fire({
                    type: 'error',
                    title: 'Error al obtener el archivo PDF',
                });
                //console.error('Error al obtener el archivo PDF.');
            }
        };
        xhr.send(jsonData);
    });

$('.switch').click(function()
    {
        $(this).toggleClass("switchOn");
    });

});
    $('.checkbox-activate').change(function()
{
$(this).form().submit();
});

</script>
{% endblock %}