{% extends 'index.html' %}
{% load static %}
{% block menu_seguridad %}
    menu-open
{% endblock %}
{% block menu_seguridad_active %}
    active
{% endblock %}
{% block usuarios %}
    active
{% endblock %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Salva y restaura de la base de datos.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Salva-Restaura</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block miestilo %}
<style>
    .my-custom-popup-class {
        border: 1.5px solid #AAAAFF;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background: #CECEFF;
        color: #363636;
      }
</style>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    {% comment %} <div class="card-header">
                        <h3 class="card-title">Listado de Salvas</h3>
                    </div> {% endcomment %}
                    <!-- /.card-header -->

                    <div class="card-body">
                        <form class="form-horizontal" method="post" id="form" action="{% url 'db_save' %}">
                            {% csrf_token %}
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            <h2 class="card-title">Listado de Salvas</h2>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button id="submit" type="submit" class="btn btn-primary" title="Guardar salva">Guardar
                                            </button>
                                        </div>
                                    </div>
                                    
                                </div>
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                            Número
                                        </th>
                                        <th>
                                            Fecha de la salva
                                        </th>
                                        <th>
                                            Nombre del fichero
                                        </th>
                                        <th>
                                            Acción
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for u in list_db %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                {{ u.3 }}/{{ u.2 }}/{{ u.1 }}
                                            </td>
                                            <td>
                                                {{ u.0 }}
                                            </td>

                                            <td>
                                {% if request.user.is_staff %}
                                <span class="input-group-sm">
                                <a id="restaurar" href="javascript:void(0)" aria-href="{% url 'db_restore' %}" aria-data="{{ u.0 }}"
                                   class="btn btn-sm btn-primary" title="Restaurar base de datos">
                                    <i class="fa fa-level-up" title="Restaurar salva"></i>
                                    <i class="fa fa-database"></i>

                                </a>
                                {% endif %}

                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}

{% block script %}
    <script src="{% static 'assets/plugins/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/plugins/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script>
    $(document).ready(function () {
        $('#restaurar').on('click', function(e) {
            e.preventDefault();
    
            const alert = Swal.fire({
                title: '<div class="spinner-background" style="border: none;"><i class="fa-li fa fa-spinner fa-spin fa-2x" style="color: #007BFF;"></i></div>',
                //html: '<div style="border: none;">Cargando</div>',
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
                background: 'transparent',
            });                                                            
    
            const href = $(this).attr('aria-href');
            //console.log($(this).attr('aria-href'))
            //console.log($(this).attr('aria-data'))
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
    
            var xhr = new XMLHttpRequest();
            xhr.open('POST', href, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('X-CSRFToken', csrf_token);
    
            var data = {
                name: $(this).attr('aria-data'),
            };
            var jsonData = JSON.stringify(data);
    
            xhr.onload = function() {
                if (xhr.status === 200) {
                    //var response = xhr.responseText;
                    alert.close();
                    Toast.fire({
                        type: 'success',
                        title: '   Datos restaurados',
                    });
                } else {
                    Toast.fire({
                        type: 'error',
                        title: 'Error al realizar la solicitud'
                    });
                }
            };
            xhr.send(jsonData);
        });
    });    
    </script>
{% endblock %}