{% extends 'index.html' %}
{% block page_title %}
    <title>SISGEPO | Usuarios</title>
{% endblock %}
{% load static %}

{% block menu_seguridad %}
    menu-open
{% endblock %}
{% block menu_seguridad_active %}
    active
{% endblock %}
{% block usuarios %}
    active
{% endblock %}

{% block miestilo %}
    <link rel="stylesheet" href="{% static 'assets/dist/css/mystyles.css' %}">
    {% comment %} <script src="{% static 'assets/dist/js/myjs.js' %}" type="text/javascript"></script> {% endcomment %}
{% endblock %}

{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                {% block title_page %}
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Listar Usuarios</h1>
                </div><!-- /.col -->
                {% endblock %}
                {% block breadcumb %}
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Administración</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'user_list' %}">Usuarios</a></li>
                            <li class="breadcrumb-item active">Listar </li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
                {% endblock %}                
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        {% comment %} <h3 class="card-title">Listado de usuarios</h3> {% endcomment %}
                        <a href="{% url 'user_create' %}" class="btn btn-primary fa-pull-right" title="Nuevo usuario">
                            <span class="fa fa-plus"> Adicionar</span>
                        </a>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover ">
                            <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Nombre y apellidos
                                </th>
                                <th>
                                    Fecha y hora de última autenticación
                                </th>
                                <th style="text-align: center; width: 30px;">
                                    ¿Activo?
                                </th>
                                <th style="width: 50px;">
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u in usersList %}
                                {% if request.user.id != u.pk and u.username != "device" %}
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ u.0.username }}
                                        </td>
                                        <td>
                                            {{ u.0.first_name }} {{ u.0.last_name }}
                                        </td>
                                        <td>
                                           {% if u.0.last_login %}
                                            {{ u.0.last_login }}
                                            {% else %}
                                              El usuario no se ha autenticado
                                            {% endif %}
                                        </td>

                                        <td style="text-align: center;">
                                            {% if u.0.is_active %}
                                            <ul>
                                                <li style="list-style-type:'\2714';"></li>
                                            </ul>
                                            {% else %}
                                            <ul>
                                                <li style="list-style-type:'\2796';"></li>
                                            </ul>
                                            {% endif %}
                                        </td>
                                        
                                        <td>
                                {% if perms.auth.change_user %}
                                {% comment %} <label>
                                    <form action="{% url 'user_activate' u.pk %}" method="POST" class="form-activate">
                                        {% csrf_token %}
                                        <span style="display: none">{{ u.0.is_active }}</span>
                                        <input type="checkbox" name="activo" {% if u.0.is_active %} checked {% endif %} class="checkbox-activate"/>
                                    </form>
                                    <div class="switch {% if u.0.is_active %} switchOn {% endif %}">
                                    </div>
                                </label> {% endcomment %}
                                <span class="input-group-sm" >
                                <a href="{% url 'user_detail' u.0.pk %}"
                                   class="btn btn-sm btn-success" title="Ver detalles" style="background-color: green;">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{% url 'user_update' u.0.pk %}"
                                   class="btn btn-sm btn-primary" title="Modificar">
                                    <i class="fa fa-edit"></i>
                                </a>
                                {% endif %}
                                {% if request.user.is_superuser or perms.auth.delete_user %}
                                    {% if not u.0.is_superuser and u.0.pk != request.user.pk %}
                                    <a href="{% url 'user_delete' u.0.pk %}"
                                    class="btn btn-sm btn-danger" title="Eliminar">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% endif %}
                                
                                {% endif %}
                                </span>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}