{% extends 'index.html' %}

{% block page_title %}
    <title>SISGEPO | Indicadores de Objetivos</title>
{% endblock %}

{% block menu_gestion %} active menu-open {% endblock %}
{% block menu_gestion_active %} active {% endblock %}
{% block menu_p14 %} active menu-open {% endblock %}
{% block menu_p14_active %} active {% endblock %}
{% block indicador_objetivo %}
    active
{% endblock %}

{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Listar Objetivos de Trabajo</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Procesos</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Gestión de la información</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Objetivos de Trabajo.</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block miestilo %}

{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        {% comment %} {% if perms.xavi.view_premio %}
                        <form 
                            id="formExportar" 
                            class="form-horizontal col-10" 
                            method="post" 
                            enctype="multipart/form-data" 
                            formaction="{% url 'exportar' %}" 
                            formerror="{% url 'base:create_logoentity' %}"
                        >
                                <a id="exportar" href="#" class="btn btn-outline-info"><span class="fa fa-file"> Exportar </span></a>
                        </form>
                        {% endif %}   {% endcomment %}
                        {% if perms.xavi.add_indicador_objetivos or perms.xavi.add_objetivo %}
                        <a href="{% url 'adicionar_indicador_objetivo' 0 %}" class="btn btn-primary fa-pull-right">
                            <span class="fa fa-plus"> Adicionar </span>
                        </a>
                        {% endif %}
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Número
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Objetivo estratégico
                                </th>
                                {% comment %} <th>
                                    Tareas
                                </th> {% endcomment %}
                                <th>
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lt in lista %}

                                    <tr id="{{ lt.id }}">
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ lt.nombre }}
                                        </td>                                        
                                        <td>
                                            {% if lt.objetivo %}{{ lt.objetivo }}{% else %} ---------- {% endif %}
                                        </td>   
                                    <td>
                                    <span class="input-group">
                                    {% if perms.xavi.view_indicador_objetivos or perms.xavi.view_objetivo %}
                                    <a href="{% url 'detalle_indicador_objetivo' lt.id %}"
                                         class="btn btn-sm btn-primary btn-primary-transparent" title="Detalle">
                                    <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}
                                    {% if perms.xavi.change_indicador_objetivos or perms.xavi.change_objetivo %}
                                    <a href="{% url 'modificar_indicador_objetivo' lt.pk %}"
                                        class="btn btn-sm btn-primary btn-primary-transparent" title="Modificar">
                                    <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                    {% if perms.xavi.delete_indicador_objetivos or perms.xavi.delete_objetivo %}
                                        <a href="{% url 'eliminar_indicador_objetivo' lt.pk %}"
                                            class="btn btn-sm btn-primary btn-primary-transparent ml-2" title="Eliminar">
                                        <i class="fa fa-trash"></i>
                                        </a>
                                    {% endif %}
                                    {% if perms.xavi.add_accion_indicador_objetivo %}
                                        <a href="{% url 'adicionar_accion_indicador_objetivo' lt.id %}"
                                            class="btn btn-sm btn-primary btn-primary-transparent ml-2" title="Adicionar Tarea">
                                        <i class="fab fa-tumblr"></i>
                                                    {% if lt.num_acciones_activas > 0 %}
                                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                        {{ lt.num_acciones_activas }}
                                                    </span>
                                                    {% endif %}
                                        </a>
                                    {% endif %}
                                    </span>
                                    
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
{% block script %}
<script>
      $(document).ready(function()
{
    var href = $('#formExportar').attr('formaction');
    
    var table = $('#example1').DataTable();

    function selectOnlyFiltered(){
        var filteredRows = table.rows({filter: 'applied'}).data().toArray();
        return filteredRows;
    }

    $('#exportar').on('click', function(e) {
        Toast.fire({
            type: 'info',
            title: 'Exportando PDF...',
        });
    
        let arreglo = selectOnlyFiltered();
    
        if (arreglo.length === 0) {
            Toast.fire({
                type: 'warning',
                title: 'Nada que exportar...',
            });
            return;
        }
    
        let arr = arreglo.map(x => x['DT_RowId']);
    
        var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
        var xhr = new XMLHttpRequest();
        var url = href;  // Usar una variable para almacenar el URL
    
        xhr.open('POST', url, true);
        xhr.responseType = 'blob';
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', csrf_token);

        var urlError = $('#formExportar').attr("formerror");
    
        var data = {
            tabla: 'objetivo_trabajo',
            arr: arr,
            titulo: 'Listado de Objetivos de trabajo',
        };
    
        var jsonData = JSON.stringify(data);

        var jsonResponse = null;
    
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Crear una URL del Blob de la respuesta
                var blob = xhr.response;
                var pdfUrl = URL.createObjectURL(blob);
    
                // Crear un enlace para mostrar el PDF en el navegador
                var link = document.createElement('a');
                link.href = pdfUrl;
                link.target = '_blank';
                link.click();
            } else if (xhr.status === 404) {
                //console.log('STATUS CODE', xhr.status)
                Swal.fire({
                    type: "error",
                    title: "Error al obtener el archivo PDF",
                    text: 'Actualice los logos',
                })
                .then((result) => {
                    //console.log(urlError)
                    window.location.href = urlError;
                });
            } else {
                //console.log('ELSE FINAL', xhr.status)
                Swal.fire({
                    type: "error",
                    title: "Hubo un error",
                    text: jsonResponse ? jsonResponse.title : 'Error desconocido',
                });
            }
        };
    
        xhr.send(jsonData);
    });   
});

</script>
{% endblock %}