{% extends 'auth/user_form.html' %}
{% comment %} {% load staticfiles %} {% endcomment %}
{% load static %}

{% block title_page %}
<div class="col-sm-6">
    <h1 class="m-0 text-dark">Usuario {{ usuario.username|capfirst }}</h1>
</div><!-- /.col -->
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Actualizar contraseña</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <form class="form-horizontal" method="post" formaction="{% url 'adicionar_entrada_proyecto' %}">
                                {% csrf_token %}
                                <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Contraseña antigua*</label>
                                            <div class="col-md-6">
                                                <input required type="password" class="form-control"
                                           name="old_password" id="id_old_password" placeholder="Introduzca contraseña antigua" />
                                            </div>
                                        </div>
                                    <div class="form-group">
                                            <label class="col-md-3 control-label">Contraseña nueva*</label>
                                            <div class="col-md-6">
                                                <input required type="password" class="form-control" name="new_password1" id="id_new_password1" placeholder="Introduzca contraseña nueva" />
                                            </div>
                                        </div>
                                    <div class="form-group">
                                            <label class="col-md-3 control-label">Contraseña nueva (confirmación) *</label>
                                            <div class="col-md-6">
                                                <input required type="password" class="form-control"
                                           name="new_password2" id="id_new_password2" placeholder="Introduzca confirmación de nueva contraseña"/>
                                            </div>
                                        </div>
                                    <button id="actualizar" name="actualizar" type="submit"
                                            class="btn btn-primary"
                                            value="Actualizar">Actualizar
                                    </button>
                                </div>
                            </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
{% block jss %}
    <script>
        $('#formEditConsecutivo').on('submit', function (e) {
            e.preventDefault();    
            
            if (document.getElementById('id_new_password1').value != document.getElementById('id_new_password2').value){
                alert('Las contraseñas no son iguales');
                return false;
            }

            var href = $(this).attr('formaction');
            var data = $(this).serializeArray();

            $.post( href, data).always(function(response){
                if (response.result == 'error'){
                    alert(response.message);
                    $('button[type="submit"]').prop("disabled", "true");
                } else {
                    window.location.reload();
                }
            })
        });
    </script>
{% endblock %}
