{% extends 'index.html' %}
{% block page_title %}
    <title>SISGEPO | Subclasificaciones</title>
{% endblock %}
{% block subclasificacion_proyecto %} active {% endblock %}
{% block menu_nomencladores %} active menu-open {% endblock %}
{% block menu_nomencladores_active %} active {% endblock %}
{% block menu_nomencladores_proyectos2 %} active menu-open {% endblock %}
{% block menu_nomencladores_proyectos2_active %} active {% endblock %}
{% block menu_nomencladores_proyectos %} active menu-open {% endblock %}
{% block menu_nomencladores_proyectos_active %} active {% endblock %}

{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Listar Subclasificaciones.</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Nomencladores</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Subclasificaciones.</li>
                        {% endblock %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block miestilo %}
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                                                    <a href="{% url 'agregar_subclasificacion' %}" class="btn btn-primary fa-pull-right">
                                <span class="fa fa-plus"> Adicionar</span>
                            </a>
                      
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Número</th>
				<th>Siglas</th>
                                    <th>Nombre</th>
                                    <th style="width: 350px;">Clasificación</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subclasificacion in lista %}
                                    <tr id="{{ subclasificacion.id }}">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ subclasificacion.siglas }}</td>
					<td>{{ subclasificacion.nombre }}</td>
                                        <td>{{ subclasificacion.clasificacion.nombre }}</td>
                                        <td>
                                            <span class="input-group">
                                                                                                    <a href="{% url 'modificar_subclasificacion' subclasificacion.pk %}"
                                                        class="btn btn-sm btn-primary btn-primary-transparent"
                                                        title="Modificar">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                                                                    <a href="{% url 'eliminar_subclasificacion' subclasificacion.pk %}"
                                                        class="btn btn-sm btn-primary btn-primary-transparent ml-2"
                                                        title="Eliminar">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {

            $('.switch').click(function () {
                $(this).toggleClass("switchOn");
            });

            $('.checkbox-activate').change(function () {
                $(this).form().submit();
            });

        });
    </script>
{% endblock %}