{% extends 'P01/acuerdo/acuerdo_form.html' %}
{% load static %}

{% block page_title %}
    <title>SISGEPO | Eliminar Acuerdo del Consejo de Dirección</title>
{% endblock %}

{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Eliminar Acuerdo del Consejo de Dirección.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Procesos</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Gestión de la información</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_acuerdo' %}">Acuerdo del Consejo de Dirección</a></li>
                            <li class="breadcrumb-item active">Eliminar </li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header alert-danger">
                        <h3 class="card-title">Advertencia!</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="alert">

                    <h5 class="text-center">
                        ¿Está seguro que desea eliminar la información del acuerdo <strong>{{ object.nombre |capfirst }}</strong>?
                        <br />La información no podrá restaurarse.
                    </h5>
                    &nbsp;
                    <form
                        id="formulario"
                        class="form-horizontal"
                        method="post"
                        enctype="multipart/form-data"
                        formaction="{% url 'eliminar_acuerdo' object.id %}"
                        formsuccess="{% url 'listar_acuerdo' %}"
                    >
                        <p class="text-center">
                            <button type="submit" class="btn btn-danger">
                                Borrar
                            </button>
                            <a class="btn btn-primary" href="{% url 'listar_acuerdo' %}">
                                Cancelar
                            </a>
                        </p>
                    </form>
                </div>
                    <!-- END FORM-->
                </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
