{% extends 'index.html' %}
{% load static i18n %}
{% block employee %}
    active
{% endblock %}
{% block menu_gestion %} active menu-open {% endblock %}
{% block menu_gestion_active %} active {% endblock %}
{% block menu_p00 %} active menu-open{% endblock %}
{% block menu_p00_active %} active {% endblock %}

{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2" style="height: 80px;">
                <div class="col-2 col-sm-1">
                    {% if instance.image %}
                    <img src="{{ instance.image.url }}" class="img-fluid">
                                                    {% else %}
                                                    -
                                                    {% endif %}
                    
                </div>
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ instance.get_full_name }}</h1>
                    <div class="m-0 d-flex mt-2">
                        <div class="mr-auto"><strong>CI:</strong> <span>{{ instance.identification }}</span></div>
                        <div class="ml-auto"><strong>Cargo:</strong> <span>{{ instance.position }}</span></div>
                    </div>
                </div><!-- /.col -->
                <div class="col-5">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Nomencladores</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Trabajadores.</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block miestilo %}
<style>
label.required::after {
    content: ' *';
    color: red;
}
</style>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card-header">
                    <div class="row col-md-12">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <a href="{% url 'base:export_details_employee' instance.id %}" style="float: right">
                                Exportar trabajador <i class="fa fa-file-export"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="portlet-body">
                            <div class="row col-md-12 mx-auto">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped mx-auto">
                                        <thead>
                                        <tr>
                                            <th class="text-center"></th>
                                            <th class="text-center">Fecha Inicio</th>
                                            <th class="text-center">Fecha Terminación</th>
                                            <th class="text-center">Imagen</th>
                                            <th class="text-center">Planilla</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">Reserva: {% if instance.info.is_reserve %} SI {% else %} NO {% endif %}</td>
                                                <td class="text-center">{{ instance.info.init_date_reserve|date:"Y-m-d"|default:"-" }}</td>
                                                <td class="text-center">{{ instance.info.finish_date_reserve|date:"Y-m-d"|default:"-" }}</td>
                                                <td class="text-center">
                                                    {% if instance.info.image_reserve %}
                                                    <a href="{{ instance.info.image_reserve.url }}" target="_blank">{{ instance.info.image_reserve }}</a>
                                                    {% else %}
                                                    -
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    {% if instance.info.spreadsheet_reserve %}
                                                    <a href="{{ instance.info.spreadsheet_reserve.url }}" target="_blank">{{ instance.info.spreadsheet_reserve }}</a>
                                                    {% else %}
                                                    -
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">Cuadro: {% if instance.info.is_executive %} SI {% else %} NO {% endif %}</td>
                                                <td class="text-center">{{ instance.info.init_date_executive|date:"Y-m-d"|default:"-" }}</td>
                                                <td class="text-center">{{ instance.info.finish_date_executive|date:"Y-m-d"|default:"-" }}</td>
                                                <td class="text-center">
                                                    {% if instance.info.image_executive %}
                                                    <a href="{{ instance.info.image_executive.url }}" target="_blank">{{ instance.info.image_executive }}</a>
                                                    {% else %}
                                                    -
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    {% if instance.info.spreadsheet_executive %}
                                                    <a href="{{ instance.info.spreadsheet_executive.url }}" target="_blank"></a>{{ instance.info.spreadsheet_executive }}</a>
                                                    {% else %}
                                                    -
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row col-md-12">
                            <a href="{% url 'base:employees' %}" class="btn btn-sm btn-default">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script src="{% static 'complaints/js/complaints/create.js' %}" type="text/javascript"></script>
{% endblock %}