{% load static i18n %}
<div class="card-body">
    <table id="example1" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Número
            </th>
            <th>
                Nombre y Apellidos
            </th>
            <th>
                Carnet de Identidad
            </th>
            <th>
                Cargo
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}

            <tr id="{{ model.id }}">
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    {{ model.get_full_name }}
                </td>
                <td>
                    {{ model.identification }}
                </td>
                <td>
                    {{ model.position.name }}
                </td>
                <td>
                    <span class="input-group">
                    <a href="{% url 'base:detail_employee' model.id %}"
                        class="btn btn-sm btn-primary btn-primary-transparent" title="detalle">
                    <i class="fa fa-eye"></i>
                    </a>

                        <a href="{% url 'base:update_employee' model.id %}"
                            class="btn btn-sm btn-primary btn-primary-transparent" title="modificar">
                        <i class="fa fa-edit"></i>
                        </a>
                   
                        <a href="#" model-url="{% url 'base:delete_employee' model.id %}"
                            class="btn btn-sm btn-primary btn-primary-transparent ml-2 delete_employee" title="eliminar">
                        <i class="fa fa-trash"></i>
                        </a>
                    
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>