{% load static i18n %}
<div class="card-body">
    <table id="example1" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Número
            </th>
            <th>
                Nombre
            </th>
            <th>
                Acciones
            </th>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}

            <tr id="{{ model.id }}">
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    {{ model.name }}
                </td>
                <td>
                    <span class="input-group">
                    
                    <label>
                        <form action="{% url 'iproperty:activate_drawings' model.id %}" method="POST" class="form-activate">
                            {% csrf_token %}
                            <span style="display: none">{{ model.active }}</span>
                            <input type="checkbox" name="activate" {% if model.active %} checked {% endif %} class="checkbox-activate"/>
                        </form>
                        <div class="switch {% if model.active %} switchOn {% endif %}">
                        </div>
                    </label>
                   
                        <a href="{% url 'iproperty:update_drawings' model.id %}"
                            class="btn btn-sm btn-primary btn-primary-transparent" title="modificar">
                        <i class="fa fa-edit"></i>
                        </a>
                 
                        <a href="#" model-url="{% url 'iproperty:delete_drawings' model.id %}"
                            class="btn btn-sm btn-primary btn-primary-transparent ml-2 delete_drawing" title="eliminar">
                        <i class="fa fa-trash"></i>
                        </a>
                 
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>