{% extends 'index.html' %}

{% block page_title %}
    <title>SISGEPO | Entradas de Proyecto</title>
{% endblock %}

{% block entrada %}
    active
{% endblock %}

{% block menu_gestion %} active menu-open {% endblock %}
{% block menu_gestion_active %} active {% endblock %}

{% block sosi %}
    active
{% endblock %}

{% block menu_p01 %}
    menu-open
{% endblock %}
{% block menu_p01_active %}
    active
{% endblock %}
{% block menu_gestion_proyectos %}
    menu-open
{% endblock %}
{% block menu_gestion_proyectos_active %}
    active
{% endblock %}
{% block menu_proyectos %}
    menu-open
{% endblock %}
{% block menu_proyectos_active %}
    active
{% endblock %}
{% block gestion_proyectos %}
    active
{% endblock %}
{% block proyectos %}
    active
{% endblock %}

{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Listar Entrada de Proyecto</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">P01</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Entrada de Proyecto.</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block miestilo %}
<style>
.btn-primary-transparent{
    color: #007bff;
    background-color: transparent;
    border-color: transparent;
}
</style>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Entrada de Proyecto </h3>
                        {% if perms.xavi.add_entrada_proyecto %}
                        <a href="{% url 'adicionar_entrada_proyecto' %}" class="btn btn-primary fa-pull-right">
                            <span class="fa fa-plus"> Adicionar </span>
                        </a>
                        {% endif %}
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Fecha de entrada
                                </th>
                                <th>
                                    Fecha de salida
                                </th>
                                <th>
                                    Entregado por
                                </th>
                                <th>
                                    Formato
                                </th>
                                <th>
                                    Proyecto
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    DT
                                </th>
                                <th>
                                    Activo
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% comment %} {% c = 0 %} {% endcomment %}
                            {% for lt in lista %}
                                <tr id="{{ lt.id }}">
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        {{ lt.fecha_entrada }}
                                    </td>
                                    <td>
                                        {{ lt.fecha_salida }}
                                    </td>
                                    <td>
                                        {{ lt.entregado_por }}
                                    </td>
                                    <td>
                                        {% for formato in lt.formato.all %}
                                            {{ formato }} {% if not forloop.last %} - {% endif %}
                                        {% endfor %}
                                    </td>                                    
                                    <td>
                                        {{ lt.proyeto }}
                                    </td>
                                    <td>
                                        {{ lt.dt }}
                                    </td>    
                                    <td>
                                        {{ lt.estado }}
                                    </td>                                    
                                    <td>
                                    <span class="input-group">
                                    {% comment %} {% if perms.xavi.change_entrada_proyecto %} 
                                    <label>
                                        <form action="{% url 'act_desactconsecutivo' lt.consecutivo.id %}" method="POST" class="form-activate">
                                            {% csrf_token %}
                                            <span style="display: none">{{ lt.activo }}</span>
                                            <input type="checkbox" name="activo" {% if lt.activo %} checked {% endif %} class="checkbox-activate"/>
                                        </form>
                                    <div class="switch {% if lt.activo %} switchOn {% endif %}">
                                    </div>
                                    </label>
                                    {% endif %}
                                    {% if perms.xavi.change_Entrada de Entrada de Entrada de Proyecto %}
                                    <a href="{% url 'modificar_Entrada de Entrada de Entrada de Proyecto' lt.consecutivo.id %}"
                                        class="btn btn-sm btn-primary btn-primary-transparent" title="Modificar">
                                    <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                    {% if perms.xavi.delete_Entrada de Entrada de Entrada de Proyecto %}
                                        <a href="{% url 'eliminar_Entrada de Entrada de Entrada de Proyecto' lt.consecutivo.id %}"
                                            class="btn btn-sm btn-primary btn-primary-transparent ml-2" title="Eliminar">
                                        <i class="fa fa-trash"></i>
                                        </a>
                                    {% endif %} 
                                    {% endcomment %}
                                </span>
                                    </td>
                                </tr>
                                {% comment %} {% c = c + 1 %} {% endcomment %}
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){

    function submitForm(formulario) {
        console.log('first first first')
        formulario.on("submit", function (e) {
            e.preventDefault();
            var href = formulario.attr("formaction");
            var listar = formulario.attr("formsuccess");
            var data = formulario.serializeArray();
    
            if ($(".is-invalid").length > 0) {
                return false;
            } else {
                $('button[type="submit"]').prop("disabled", true);
    
                var form = document.getElementById(formulario.attr("id"));
                var form_data = new FormData(form);
                var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
                form_data.append("csrfmiddlewaretoken", csrf_token);
    
                $.ajax({
                    url: formulario.attr("formaction"),
                    type: formulario.attr("method"),
                    dataType: "JSON",
                    data: form_data,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.result == "success") {
                            Swal.fire({
                                title: data.title,
                                type: data.result,
                                timer: 2000,
                                showConfirmButton: false
                            }).then((result) => {
                                $(location).attr('href', listar); 
                            });
                        } else if (data.result == "error") {
                            var element = document.querySelector(`[name="${data.field}"]`);
                                if (element){
                                    element.focus();
                                }
                            updateErrorMessage(element, data.title);
                            $('button[type="submit"]').prop("disabled", true);
                        }
                    },
                });
            }
        });
    }
    
    submitForm($("#formulario"));

    });

</script>
{% endblock %}