{% extends 'P01/entrada_proyecto/entrada_proyecto.html' %}
{% load static %}
{% block page_title %}
    <title>SISGEPO | Eliminar Entrada de Proyecto</title>
{% endblock %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Eliminar Entrada de Proyecto</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Procesos</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Gestión de la innovación</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Gestión de proyectos</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_proyecto' %}">Proyectos</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'adicionar_entrada_proyecto' object.proyecto.id %}">Entradas de proyecto</a></li>
                            <li class="breadcrumb-item active">Eliminar</li>
                        {% endblock %}
                    </ol>
                    {% comment %} <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_proyecto' %}">P01 / Proyecto</a></li>
                            <li class="breadcrumb-item active">Detalles</li>
                        {% endblock %}
                    </ol> {% endcomment %}
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header alert-danger">
                        <h3 class="card-title">Advertencia!</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="alert">

                    <h5 class="text-center">
                        ¿Está seguro que desea eliminar la información de la entrada de proyecto <strong>{{ object.fecha_entrada }} del {{ object.proyecto.nombre_proyecto }}</strong>?
                        <br />La información no podrá restaurarse.
                    </h5>
                    &nbsp;
                    <form
                        id="formulario"
                        class="form-horizontal"
                        method="post"
                        enctype="multipart/form-data"
                        formaction="{% url 'eliminar_entrada_proyecto' object.id %}"
                        formsuccess="{% url 'adicionar_entrada_proyecto' object.proyecto.id %}"
                    >
                        {% csrf_token %}
                        <p class="text-center">
                            <button type="submit" class="btn btn-danger">
                                Borrar
                            </button>
                            <a class="btn btn-primary" href="{% url 'adicionar_entrada_proyecto' object.proyecto.id %}">
                                Cancelar
                            </a>
                        </p>
                    </form>
                </div>
                    <!-- END FORM-->
                </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
