{% extends 'index.html' %}

{% block page_title %}
    <title>SISGEPO | SOSI</title>
{% endblock %}

{% block sosi %}
    active
{% endblock %}

{% block menu_gestion %} active menu-open {% endblock %}
{% block menu_gestion_active %} active {% endblock %}

{% block menu_p01 %}
    menu-open
{% endblock %}
{% block menu_p01_active %}
    active
{% endblock %}
{% block menu_gestion_proyectos %}
    menu-open
{% endblock %}
{% block menu_gestion_proyectos_active %}
    active
{% endblock %}
{% block menu_proyectos %}
    menu-open
{% endblock %}
{% block menu_proyectos_active %}
    active
{% endblock %}
{% block gestion_proyectos %}
    active
{% endblock %}
{% block proyectos %}
    active
{% endblock %}

{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Listar SOSI </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Procesos</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Gestión de la innovación</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Gestión de proyectos</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_sosi' %}">SOSI</a></li>
                            <li class="breadcrumb-item active">Listar</li>
                        {% endblock %}
                    </ol>
                    {% comment %} <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_proyecto' %}">P01 / Proyecto</a></li>
                            <li class="breadcrumb-item active">Detalles</li>
                        {% endblock %}
                    </ol> {% endcomment %}
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block miestilo %}
<style>
</style>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    {% if perms.xavi.view_proyecto %}
                    <div class="card-header">
                        <a href="{% url 'listar_proyecto' %}" class="btn btn-primary fa-pull-right">
                            Listado de proyectos
                        </a>
                    </div>
                    {% endif %}
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Número
                                </th>
                                <th>
                                    Proyecto
                                </th>
                                <th>
                                    Num. salva
                                </th>                                
                                <th>
                                    Código
                                </th>
                                <th>
                                    Ubicación
                                </th>
                                <th>
                                    Recibido por
                                </th>
                                <th>
                                    Entregado por
                                </th>
                                <th>
                                    Año
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% comment %} {% c = 0 %} {% endcomment %}
                            {% for lt in lista %}
                                <tr id="{{ lt.id }}">
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        {{ lt.proyecto.nombre_proyecto }}
                                    </td>
                                    <td>
                                        {{ lt.numero_salva }}
                                    </td>
                                    <td>
                                        {{ lt.proyecto.codigo }}
                                    </td>
                                    <td>
                                        {{ lt.ubicacion_salva }}
                                    </td>                                    
                                    <td>
                                        {{ lt.recibe.first_name }} {{ lt.recibe.last_name }}
                                    </td>
                                    <td>
                                        {{ lt.especialista.first_name }} {{ lt.especialista.last_name }}
                                    </td>   
                                    <td>
                                        {{ lt.fecha|date:"Y" }}
                                    </td>                                   
                                    <td>
                                    <span class="input-group">
                                    {% if perms.xavi.view_sosi %}
                                    <a href="{% url 'detalle_sosi' lt.id %}"
                                         class="btn btn-sm btn-primary btn-primary-transparent" title="Detalle">
                                    <i class="fa fa-eye"></i>
                                    </a>
                                    {% endif %}                                     
                                    {% if perms.xavi.change_sosi %}
                                    <a href="{% url 'modificar_sosi' lt.id %}"
                                        class="btn btn-sm btn-primary btn-primary-transparent" title="Modificar">
                                    <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                    {% if perms.xavi.delete_sosi %}
                                        <a href="{% url 'eliminar_sosi' lt.id %}"
                                            class="btn btn-sm btn-primary btn-primary-transparent ml-2" title="Eliminar">
                                        <i class="fa fa-trash"></i>
                                        </a>
                                    {% endif %} 
                                </span>
                                    </td>
                                </tr>
                                {% comment %} {% c = c + 1 %} {% endcomment %}
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
{% block script %}
<script>
      $(document).ready(function()
{

$('.switch').click(function()
    {
        $(this).toggleClass("switchOn");
    });

});
    $('.checkbox-activate').change(function()
{
$(this).form().submit();
});

</script>
{% endblock %}