{% extends 'index.html' %}
{% comment %} {% load staticfiles %} {% endcomment %}
{% load static %}
{% block page_title %}
    <title>SISGEPO | Perfil de usuario</title>
{% endblock %}
{% block perfil_active %}
    active
{% endblock %}
{% block miestilo %}
    <link rel="stylesheet" href="{% static 'assets/cropme/css/cropper.min.css' %}">
{% endblock %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Perfil de usuario.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item active">Perfil de usuario</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Usuario <b>{{ request.user.username }}</b></h3>
                            <a href="{% url 'password_update' request.user.pk %}"
                               class="btn btn-outline-dark btn-sm fa-pull-right" title="Cambiar contraseña">
                                <span class="fa fa-recycle"> Cambiar Contraseña</span>
                            </a>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form
                            id="formulario"
                            class="form-horizontal"
                            method="post"
                            enctype="multipart/form-data"
                            formaction="{% url 'profile' request.user.pk %}"
                            formsuccess="{% url 'inicio' %}"
                        >
                            {% csrf_token %}
                            <div class="card-body">
                            <div class="form-row">
                                {% for campo in form %}

                                    {% if campo.label == "Avatar" %}
                                        <div class="form-group" style="margin-top: 40px">
                                            <label class="col-md-12 control-label">{{ campo.label_tag }}</label>
                                            <div class="col-md-12" style="margin-bottom: 40px; margin-left: 20px">
                                                {% if campo.value %}
                                                    <img id="id_image" src="/media/{{ campo.value }}"
                                                         height="200px"
                                                         width="200px">
                                                {% else %}
                                                    <img id="id_image" src="{% static 'users/userDefault4.png' %}"
                                                         height="200px"
                                                         width="200px">
                                                {% endif %}

                                            </div>
                                            <label class="col-md-3 control-label"> Modificar:</label>
                                            <input type="file" id="id_img" name="image" accept="image/*">
                                        </div>
                                    {% else %}

                                    {% if  forloop.counter <= 2 %}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                    {% else %}
                                    {% if forloop.counter > 2 and forloop.counter <= 4 %}
                                    <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                    {% else %}
                                    {% if forloop.counter > 4 and forloop.counter <= 6 %}
                                        <div class="form-group col-md-6">
                                            <label class="control-label">{{ campo.label_tag }}</label>
                                            <div class="col-md-">
                                                {{ campo }}
                                                <small class="text-red">{{ campo.errors }}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                            {% block botones %}
                            <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">

                              <button type="submit" class="btn btn-danger mb-3">Atrás</button>
                             <br>

                             </div>
                             </div>
                            {% endblock %}
                            <input id="id_x" name="x" type="hidden" value="">
                            <input id="id_y" name="y" type="hidden" value="">
                            <input id="id_height" name="height" type="hidden" value="">
                            <input id="id_width" name="width" type="hidden" value="">
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <div class="modal fade" id="modalCrop">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajuste el tamaño del avatar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <img src="" id="image" alt="Escoja una imagen válida" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                    <div class="btn-group pull-left" role="group">
                        <button type="button" class="btn btn-default js-zoom-in" title="Aumentar tamaño">
                            <small class="glyphicon glyphicon-zoom-in" style="margin-top: -2px;"><b>+</b></small>
                        </button>
                        <button type="button" class="btn btn-default js-zoom-out" title="Disminuir tamaño">
                            <small class="glyphicon glyphicon-zoom-out" style="margin-top: -2px;"><b>-</b></small>
                        </button>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a href="#" id="crop_upload" class="btn btn-primary">Cortar y actualizar</a>
                    {#                    <button type="button" id="crop_upload" class="btn btn-primary">Crop and upload</button>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'assets/cropme/js/cropper.min.js' %}" type="text/javascript"></script>
    <script>
        $(function () {
            /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
            $("#id_img").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#image").attr("src", e.target.result);
                        $("#modalCrop").modal("show");
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });

            /* SCRIPTS TO HANDLE THE CROPPER BOX */
            var $image = $("#image");
            var cropBoxData;
            var canvasData;
            $("#modalCrop").on("shown.bs.modal", function () {
                $image.cropper({
                    viewMode: 1,
                    aspectRatio: 1 / 1,
                    minCropBoxWidth: 200,
                    minCropBoxHeight: 200,
                    ready: function () {
                        $image.cropper("setCanvasData", canvasData);
                        $image.cropper("setCropBoxData", cropBoxData);
                    }
                });
            }).on("hidden.bs.modal", function () {
                cropBoxData = $image.cropper("getCropBoxData");
                canvasData = $image.cropper("getCanvasData");
                $image.cropper("destroy");
            });

            $(".js-zoom-in").click(function () {
                $image.cropper("zoom", 0.1);
            });

            $(".js-zoom-out").click(function () {
                $image.cropper("zoom", -0.1);
            });

            function submitForm(formulario) {
                console.log('first first first')
                formulario.on("submit", function (e) {
                    e.preventDefault();
                    var href = formulario.attr("formaction");
                    var listar = formulario.attr("formsuccess");
                    var data = formulario.serializeArray();
            
                    if ($(".is-invalid").length > 0) {
                        console.log('AKI')
                        return false;
                    } else {
                        $('button[type="submit"]').prop("disabled", true);
            
                        var form = document.getElementById(formulario.attr("id"));
                        var form_data = new FormData(form);
                        var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
                        form_data.append("csrfmiddlewaretoken", csrf_token);
            
                        $.ajax({
                            url: formulario.attr("formaction"),
                            type: formulario.attr("method"),
                            dataType: "JSON",
                            data: form_data,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if (data.result == "success") {
                                    Swal.fire({
                                        title: data.title,
                                        type: data.result,
                                        timer: 2000,
                                        showConfirmButton: false
                                    }).then((result) => {
                                        $(location).attr('href', listar); 
                                    });
                                } else if (data.result == "error") {
                                    var element = document.querySelector(`[name="${data.field}"]`);
                                    updateErrorMessage(element, data.title);
                                    $('button[type="submit"]').prop("disabled", true);
                                }
                            },
                        });
                    }
                });
            }
            

            /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
            $("#crop_upload").click(function () {
                cropData = $image.cropper("getData");
                $("#id_x").val(cropData["x"]);
                $("#id_y").val(cropData["y"]);
                $("#id_height").val(cropData["height"]);
                $("#id_width").val(cropData["width"]);
                //submitForm($("#formulario"));
                $("#formulario").submit();
                {#$("#modalCrop").modal("hidde");#}
            });

        });
    </script>
    <script>
        $("#id_first_name").blur(function () {
            if (this.value.length == 0) {
                $("#id_first_name").addClass("error")
                $("#id_first_name").attr('placeholder', 'Este campo es requerido');

            }
            else {
                if (/^\s+$/.test(this.value)) {
                    $("#id_first_name").addClass("error")
                    $("#id_first_name").val("")
                    $("#id_first_name").attr('placeholder', 'No espacios vacios');
                }
                else {
                    if (!/^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]+[\s]*)+$/.test(this.value)) {
                        $("#id_first_name").addClass("error")
                        $("#id_first_name").val("")
                        $("#id_first_name").attr('placeholder', 'El nombre empieza con mayúscula y no tiene números');
                    }
                    else {
                        $("#id_first_name").removeClass("error")
                    }
                }

            }
        });
        $("#id_last_name").blur(function () {
            if (this.value.length == 0) {
                $("#id_last_name").addClass("error")
                $("#id_last_name").attr('placeholder', 'Este campo es requerido');

            }
            else {
                if (/^\s+$/.test(this.value)) {
                    $("#id_last_name").addClass("error")
                    $("#id_last_name").val("")
                    $("#id_last_name").attr('placeholder', 'No espacios vacios');
                }
                else {
                    if (!/^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]+[\s]*)+$/.test(this.value)) {
                        $("#id_last_name").addClass("error")
                        $("#id_last_name").val("")
                        $("#id_last_name").attr('placeholder', 'Los apellidos empieza con mayúscula y no tiene números');
                    }
                    else {
                        $("#id_last_name").removeClass("error")
                    }
                }

            }
        });
        $("#id_email").blur(function () {
            if (this.value.length == 0) {
                $("#id_email").addClass("error")
                $("#id_email").attr('placeholder', 'Este campo es requerido');

            }
            else {
                if (/^\s+$/.test(this.value)) {
                    $("#id_email").addClass("error")
                    $("#id_email").val("")
                    $("#id_email").attr('placeholder', 'No espacios vacios');
                }
                else {
                    if (!/^[\w]+@{1}[\w]+\.[a-z]{2,3}$/.test(this.value)) {
                        $("#id_email").addClass("error")
                        $("#id_email").val("")
                        $("#id_email").attr('placeholder', 'Debe escribir un correo válido');
                    }
                    else {
                        $("#id_email").removeClass("error")
                    }
                }

            }
        });

    </script>
    <script src="{% static 'assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
    <script>
        {% if FA2 %}
            $("#id_verificar").bootstrapSwitch("state", true)
            {% else %}
            $("#id_verificar").bootstrapSwitch("state", false)
        {% endif %}
    $('#id_img').change(function(){
            var file_name =$(this).val().split('.');
            var ext = file_name[file_name.length - 1];
            let validExtensions = ['jpg', 'jpeg', 'png', 'webp'];
            if(!validExtensions.includes(ext))
            {
                    $('#crop_upload').hide();
                    $('.btn-group.pull-left').hide();
                    return false;
            }
            else
                {
                    $('#crop_upload').show();
                    $('.btn-group.pull-left').show();
                    return true;
                }


        });
    </script>

{% endblock %}


