{% extends 'Security/users.html' %}
{% load static %}
{% block page_title %}
    <title>SISGEPO | Modificar Usuario</title>
{% endblock %}
{% block miestilo %}
    <link rel="stylesheet" href="{% static 'assets/dist/css/mystyles.css' %}">
{% endblock %}

{% block breadcumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
        {% block group_wrapper %}
            <li class="breadcrumb-item"><a href="javascript:void(0)">Seguridad</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'user_list' %}">Usuarios</a></li>
            <li class="breadcrumb-item active">Modificar </li>
        {% endblock %}
    </ol>
</div><!-- /.col -->
{% endblock %}
{% block title_page %}
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Modificar Usuarios</h1>
    </div><!-- /.col -->
{% endblock %}
{% block content %}
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-end">
                        {% comment %} <h3 class="card-title col-11">Formulario usuario</h3> {% endcomment %}
                        <h3 class="card-title col-12 text-end" >
                            <a href="javascript:void(0)"><span ><i id="informacion" class="fa fa-question-circle fa-pull-right text-info"></i></span></a>
                        </h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    {% comment %} <form class="form-horizontal" method="post" enctype="multipart/form-data" formaction="{% url 'user_update' object.id %}" formsuccess="{% url 'user_list' %}"> {% endcomment %}
                    
                    {% comment %} OBJETO {{ object.id }} {% endcomment %}
                    <form
                        id="formulario"
                        class="form-horizontal"
                        method="post"
                        enctype="multipart/form-data"
                        formaction="{% url 'user_update' object.id %}"
                        formsuccess="{% url 'user_list' %}"
                    >
                        {% csrf_token %}
                        <input name="id" type="hidden" value="{{ object.id }}">
                        <div class="form-body">
                        <div class="form-row">
                            {% for campo in form %}
                                {% if  forloop.counter <= 2 %}
                                <div class="form-group col-md-6">
                                    <label class=" control-label">{{ campo.label_tag }}</label>

                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>

                                </div>
                                {% else %}
                                {% if forloop.counter > 2 and forloop.counter <= 4 %}
                                <div class="form-group col-md-6">
                                    <label class=" control-label">{{ campo.label_tag }}</label>

                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>

                                </div>
                                {% else %}
                                {% if forloop.counter > 4 and forloop.counter <= 6 %}
                                <div class="form-group col-md-6">
                                    <label class=" control-label">{{ campo.label_tag }}</label>
					<div class="col-md-12" style="display: flex;">
                                        <div id="id_toogle_{{ forloop.counter }}" class="input-group-text">
                                            <span class="fa fa-eye"></span>
                                        </div>

                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
					</div>
                                </div>
                                {% else %}
                                {% if forloop.counter > 6 and forloop.counter <= 8 %}
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                    <div class="col-md-12">
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                </div>
                                {% if forloop.counter > 8 and forloop.counter <= 10 %}
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                    <div class="col-md-12">
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                </div>
                                {% if forloop.counter > 10 and forloop.counter <= 12 %}
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                    <div class="col-md-12">
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}

                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% endif %}
                            {% endfor %}

                        </div>
                        </div>
                    {% block error %}
                    {% endblock %}{% block correcto %}
                    {% endblock %}
                        {% block botones %}
                         <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-primary mb-3">Guardar</button>
                                <a href="{% url 'user_list' %}" type="button" class="btn btn-danger mb-3">Cancelar</a>
                            </div>
                        </div>
                        {% endblock %}

                    </form>
                    <!-- END FORM-->
                </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function () {
        $('#id_password1').attr('placeholder', 'Introduzca contraseña');
        $('#id_password2').attr('placeholder', 'Introduzca contraseña nuevamente');
        $('#id_username').attr('placeholder', 'Introduzca nombre de usuario');
        $('#id_email').attr('placeholder', 'Introduzca e-mail de CITMATEL');
        $('#id_first_name').attr('placeholder', 'Introduzca nombre');
        $('#id_last_name').attr('placeholder', 'Introduzca apellidos');
        
        $('#id_email').prop('required', true);
        $('#id_first_name').prop('required', true);
        $('#id_last_name').prop('required', true);
        //$('#id_password1').prop('required', true);
        //$('#id_password2').prop('required', true);
        $('#id_groups').prop('required', true);
        if ($('#id_image').prev().prev()){
            $('#id_image').prev().prev().attr('target', "_blank");
        }
    })

    var labels = document.querySelectorAll('label');
    labels.forEach(function(label) {
        var labelText = label.textContent.trim(); // Convertir a minúsculas
        if (labelText.toLowerCase().includes('avatar') || labelText.toLowerCase().includes('contraseña')) {
            label.textContent = labelText.slice(0, -1) + labelText.slice(-1);
        } else if (labelText.length >= 2 && labelText.charAt(labelText.length - 2) !== '*') {
            label.textContent = labelText.slice(0, -1) + '*' + labelText.slice(-1);
        }
    });

    const r = /^([A-Za-zÑñÁáÉéÍíÓóÚú]+['\-]{0,1}[A-Za-zÑñÁáÉéÍíÓóÚú]+)(\s+([A-Za-zÑñÁáÉéÍíÓóÚú]+['\-]{0,1}[A-Za-zÑñÁáÉéÍíÓóÚú]+))*$/;
    const d = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,15}$/;

    /*$('#id_username').bind('blur', function(){
        validate_campos_vacios($(this));
    });*/

    $('#id_username').bind('blur', function(){
        validate_campos_vacios($(this));
    });

    $('#id_email').bind('blur', function(){
        validate_campos_vacios($(this));
        validate_email($('#id_email'), 'citmatel.inf.cu');
    });

    $('#id_first_name').bind('blur', function(){
        validate_campos_vacios($(this));        
        const text = "Por favor, inserte nombre válido";
        validate_regex(r, $('#id_first_name'), text);
    });

    $('#id_last_name').bind('blur', function(){
        validate_campos_vacios($(this));
        const text = "Por favor, inserte apellido válido";
        validate_regex(r, $('#id_last_name'), text);
    });

    $('#id_password1').focus(function() {
        $('#informacion').removeClass('text-info').addClass('text-danger');
    });

    $('#id_password2').focus(function() {
        $('#informacion').removeClass('text-info').addClass('text-danger');
    });

    $('#id_password1').bind('blur', function(){
        if ($('#id_password1').val() != ''){
            const text = "Por favor, inserte contraseña válida";
            validate_regex(d, $('#id_password1'), text);
            $('#informacion').removeClass('text-danger').addClass('text-info');
        }
    });
    
    $('#id_password2').bind('blur', function(){
        if ($('#id_password1').val() != ''){
            const text = "Por favor, inserte contraseña válida";
            validate_regex(d, $('#id_password2'), text);
            $('#informacion').removeClass('text-danger').addClass('text-info');
        }
    });

    $('#id_toogle_5').on('click', function(e){
        tooglePassword($('input[name="password1"]')[0], $('#id_toogle_5').children());
        if ($('input[name="password1"]')[0].type === 'text'){
            $('input[name="password1"]').addClass('form-control');
        }
    });

    $('#id_toogle_6').on('click', function(e){
        tooglePassword($('input[name="password2"]')[0], $('#id_toogle_6').children());
        if ($('input[name="password2"]')[0].type === 'text'){
            $('input[name="password2"]').addClass('form-control');
        }
    });

    
    $('#informacion').on('click', function() {
        Swal.fire({
          title: 'Requisitos para la contraseña',
          html: '<strong>Longitud</strong>: Entre 8 y 15 caracteres.<br><br><strong>Al menos:</strong><br><strong>Letras</strong>: una minúscula y una mayúscula.<br><strong>Dígitos</strong>: un número.<br><strong>Caracteres especiales</strong>: $, @, !, %, *, ?, &, ., \\, /.',
          confirmButtonText: 'Aceptar',
        });
      });

    function submitForm(formulario) {
        console.log('first first first');
        formulario.on("submit", function (e) {
            e.preventDefault();
    
            // Validación de contraseñas
            var password1 = $("#id_password1").val();
            var password2 = $("#id_password2").val();

            var password1Element = document.getElementById("id_password2");
            var password2Element = document.getElementById("id_password2");
    
            /*if (!password1 || !password2) {
                if (!password1){
                    updateErrorMessage(password1Element, "La contraseñas es requerida");
                    password1Element.classList.remove('is-valid');
                    password1Element.classList.add('is-invalid');
                }
                if (!password2){
                    updateErrorMessage(password1Element, "La contraseñas es requerida");
                    password2Element.classList.remove('is-valid');
                    password2Element.classList.add('is-invalid');
                }
                return false;
            }*/
             if (password1 !== password2) {
                updateErrorMessage(password1Element, "Las contraseñas no coinciden");
                updateErrorMessage(password2Element, "Las contraseñas no coinciden");
                password1Element.classList.remove('is-valid');
                password1Element.classList.add('is-invalid');
                password2Element.classList.remove('is-valid');
                password2Element.classList.add('is-invalid');
                return false;
            }
    
            var href = formulario.attr("formaction");
            var listar = formulario.attr("formsuccess");
            var data = formulario.serializeArray();
    
            if ($(".is-invalid").length > 0) {
                return false;
            } else {
                $('button[type="submit"]').prop("disabled", true);
    
                var form = document.getElementById(formulario.attr("id"));
                var form_data = new FormData(form);
                var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
                form_data.append("csrfmiddlewaretoken", csrf_token);
    
                $.ajax({
                    url: formulario.attr("formaction"),
                    type: formulario.attr("method"),
                    dataType: "JSON",
                    data: form_data,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.result == "success") {
                            Swal.fire({
                                title: data.title,
                                type: data.result,
                                timer: 2000,
                                showConfirmButton: false
                            }).then((result) => {
                                $(location).attr('href', listar); 
                            });
                        } else if (data.result == "error") {
                            var element = document.querySelector(`[name="${data.field}"]`);
                            updateErrorMessage(element, data.title);
                            $('button[type="submit"]').prop("disabled", true);
                        }
                    },
                });
            }
        });
    }
    
    submitForm($("#formulario"));
    </script>
{% endblock %}


