{% extends 'Security/users.html' %}
{% comment %} {% extends 'index.html' %} {% endcomment %}
{% load static %}

{% block miestilo %}
    <link rel="stylesheet" href="{% static 'assets/dist/css/mystyles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block breadcumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
        {% block group_wrapper %}
            <li class="breadcrumb-item"><a href="javascript:void(0)">Seguridad</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'user_list' %}">Usuarios</a></li>
            <li class="breadcrumb-item active">Adicionar </li>
        {% endblock %}
    </ol>
</div><!-- /.col -->
{% endblock %}

{% block content %}
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header row">
                        <h3 class="card-title col-11">Formulario usuario</h3>
                        <h3 class="card-title col-1 ">
                            <a href="javascript:void(0)"><span><i id="informacion" class="fa fa-question-circle fa-pull-right text-info"></i></span></a>
                        </h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form class="form-horizontal" method="post" enctype="multipart/form-data" formaction="{% url 'user_create' %}" formsuccess="{% url 'user_list' %}">
                        {% csrf_token %}
                      <input name="id" type="hidden" value="{{ object.id }}">
                        <div class="form-body">
                        <div class="form-row">
                            {% for campo in form %}
                                {% if  forloop.counter <= 2 %}
                                <div class="form-group col-md-6">
                                    <label class=" control-label">{{ campo.label_tag }}</label>

                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>

                                </div>
                                {% else %}
                                {% if forloop.counter > 2 and forloop.counter <= 4 %}
                                <div class="form-group col-md-6">
                                    <label class=" control-label">{{ campo.label_tag }}</label>

                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>

                                </div>
                                {% else %}
                                {% if forloop.counter > 4 and forloop.counter <= 6 %}
                                <div class="form-group col-md-6">
                                    <label class=" control-label">{{ campo.label_tag }}</label>

                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>

                                </div>
                                {% else %}
                                {% if forloop.counter > 6 and forloop.counter <= 8 %}
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                    <div class="col-md-12">
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                </div>
                                {% if forloop.counter > 8 and forloop.counter <= 10 %}
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                    <div class="col-md-12">
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                </div>
                                {% if forloop.counter > 10 and forloop.counter <= 12 %}
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                    <div class="col-md-12">
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}

                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% endif %}
                            {% endfor %}

                        </div>
                        </div>
                    {% block error %}
                    {% endblock %}{% block correcto %}
                    {% endblock %}
                        {% block botones %}
                         <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-primary mb-3">Guardar</button>
                                <a href="{% url 'user_list' %}" type="button" class="btn btn-danger mb-3">Cancelar</a>
                            </div>
                        </div>
                        {% endblock %}

                    </form>
                    <!-- END FORM-->
                </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
{% block script %}
    <script src="{% static 'assets/plugins/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/plugins/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'assets/dist/js/myjs.js' %}"></script>

    <script>
    $(document).ready(function () {
        $('#id_password1').attr('placeholder', 'Introduzca contraseña');
        $('#id_password2').attr('placeholder', 'Introduzca contraseña nuevamente');
        $('#id_username').attr('placeholder', 'Introduzca nombre de usuario');
        $('#id_email').attr('placeholder', 'Introduzca e-mail de CITMATEL');
        $('#id_first_name').attr('placeholder', 'Introduzca nombre');
        $('#id_last_name').attr('placeholder', 'Introduzca apellidos');
        /*$('#id_username').text('Nombre de usuario*');
        $('#id_email').text('Correo electrónico de CITMATEL*');
        $('#id_first_name').text('Nombre*');
        $('#id_last_name').text('Apellidos*');*/
        //$('label[for=id_password1]').text('Contraseña*');
        //$('label[for=id_password2]').text('Contraseña (confirmación)*');
    })

    const r = /^([A-Za-zÑñÁáÉéÍíÓóÚú]+['\-]{0,1}[A-Za-zÑñÁáÉéÍíÓóÚú]+)(\s+([A-Za-zÑñÁáÉéÍíÓóÚú]+['\-]{0,1}[A-Za-zÑñÁáÉéÍíÓóÚú]+))*$/;
    const d = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&.\\/])[A-Za-z\d$@$!%*?&.\\/]{8,15}$/;

    $('#id_username').bind('blur', function(){
        validate_campos_vacios($(this));
    });

    $('#id_email').bind('blur', function(){
        validate_campos_vacios($(this));
        validate_email($('#id_email'), 'citmatel.inf.cu');
    });

    $('#id_first_name').bind('blur', function(){
        validate_campos_vacios($(this));        
        const text = "Por favor, inserte nombre válido";
        validate_regex(r, $('#id_first_name'), text);
    });

    $('#id_last_name').bind('blur', function(){
        validate_campos_vacios($(this));
        const text = "Por favor, inserte apellido válido";
        validate_regex(r, $('#id_last_name'), text);
    });

    $('#id_password1').focus(function() {
        $('#informacion').removeClass('text-info').addClass('text-danger');
    });

    $('#id_password2').focus(function() {
        $('#informacion').removeClass('text-info').addClass('text-danger');
    });

    $('#id_password1').bind('blur', function(){
        const text = "Por favor, inserte contraseña válida";
        validate_regex(d, $('#id_password1'), text);
        $('#informacion').removeClass('text-danger').addClass('text-info');
    });
    
    $('#id_password2').bind('blur', function(){
        const text = "Por favor, inserte contraseña válida";
        validate_regex(d, $('#id_password2'), text);
        $('#informacion').removeClass('text-danger').addClass('text-info');
    });
    
    $('#informacion').on('click', function() {
        Swal.fire({
          title: 'Requisitos para la contraseña',
          html: '<strong>Longitud</strong>: Entre 8 y 15 caracteres.<br><br><strong>Al menos:</strong><br><strong>Letras</strong>: una minúscula y una mayúscula.<br><strong>Dígitos</strong>: un número.<br><strong>Caracteres especiales</strong>: $, @, !, %, *, ?, &, ., \\, /.',
          confirmButtonText: 'Aceptar',
        });
      });

    $('.form-horizontal').submit(function (event) {
        event.preventDefault();     
        
        var x = validate_campos_iguales($('#id_password1'), $('#id_password2'), "contraseña");
        console.log('campos iguales', x);   

        var href = $(this).attr('formaction');
        var success = $(this).attr('formsuccess');
        var data = $(this).serializeArray();

        if (x){
            $.post( href, data).always(function(response){
                console.log('llegue');
                if (response.result == 'error'){
                    console.log('error');
                } else {
                    console.log('llegue2');
                    window.location.replace(success);
                }
            })
        }        
    });
    </script>
{% endblock %}


