{% extends 'Security/users.html' %}
{% load static %}
{% block page_title %}
    <title>SISGEPO | Detalle Usuario</title>
{% endblock %}
{% block miestilo %}
    <link rel="stylesheet" href="{% static 'assets/dist/css/mystyles.css' %}">
    <style>
        #formDetalle input,
        #formDetalle select,
        .select2-container--bootstrap4.select2-container--disabled .select2-selection,
        .select2-container--bootstrap4.select2-container--disabled .select2-selection::before {
            background-color: white;
            border: none;
        }
    </style>
{% endblock %}

{% block breadcumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
        {% block group_wrapper %}
            <li class="breadcrumb-item"><a href="javascript:void(0)">Administración</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'user_list' %}">Usuarios</a></li>
            <li class="breadcrumb-item active">Detalles </li>
        {% endblock %}
    </ol>
</div><!-- /.col -->
{% endblock %}
{% block title_page %}
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Detalles Usuarios</h1>
    </div><!-- /.col -->
{% endblock %}
{% block content %}
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    {% comment %} <div class="card-header">
                        <h3 class="card-title">Formulario usuario</h3>
                    </div> {% endcomment %}
                    <!-- /.card-header -->

                    <div class="card-body">
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form id="formDetalle" class="form-horizontal" method="post" enctype="multipart/form-data" formaction="{% url 'user_update' object.id %}" formsuccess="{% url 'user_list' %}">
                        {% csrf_token %}
                      <input name="id" type="hidden" value="{{ object.id }}">
                        <div class="form-body">
                        <div class="form-row">
                            {% for campo in form %}
                                {% if  forloop.counter <= 2 %}
                                <div class="form-group col-md-6">
                                    <label class=" control-label">{{ campo.label_tag }}</label>

                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>

                                </div>
                                {% else %}
                                {% if forloop.counter > 2 and forloop.counter <= 4 %}
                                <div class="form-group col-md-6">
                                    <label class=" control-label">{{ campo.label_tag }}</label>

                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>

                                </div>
                                {% else %}
                                {% if forloop.counter > 4 and forloop.counter <= 6 %}
                                <div class="form-group col-md-6">
                                    <label class=" control-label">{{ campo.label_tag }}</label>

                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>

                                </div>
                                {% else %}
                                {% if forloop.counter > 6 and forloop.counter <= 8 %}
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                    <div class="col-md-12">
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                </div>
                                {% if forloop.counter > 8 and forloop.counter <= 10 %}
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                    <div class="col-md-12">
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                </div>
                                {% if forloop.counter > 10 and forloop.counter <= 12 %}
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{ campo.label_tag }}</label>
                                    <div class="col-md-12">
                                            {{ campo }}
                                        <small class="text-red">{{ campo.errors }}</small>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}

                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                            <img src="/media/{{ object.image }}" height="200px" width="200px">

                        </div>
                        </div>
                    {% block error %}
                    {% endblock %}{% block correcto %}
                    {% endblock %}
                        {% block botones %}
                         <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="{% url 'user_list' %}" type="button" class="btn btn-danger mb-3">Atrás</a>
                            </div>
                        </div>
                        {% endblock %}

                    </form>
                    <!-- END FORM-->
                </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
{% block script %}
    <script>
    /*$(document).ready(function () {
        $('#id_username').prop('disabled', true);
        $('#id_password1').prop('disabled', true);
        $('#id_password2').prop('disabled', true);
        $('#id_email')..prop('disabled', true);
        $('#id_first_name').prop('disabled', true);
        $('#id_last_name').prop('disabled', true);
    })*/

    $(document).ready(function() {
        document.getElementById('id_password1').parentNode.remove();
        document.getElementById('id_password2').parentNode.remove();
        document.getElementById('id_image').parentNode.parentNode.remove();
        document.getElementById('id_username').disabled = true;
        document.getElementById('id_email').disabled = true;
        document.getElementById('id_first_name').disabled = true;
        document.getElementById('id_last_name').disabled = true;
        document.getElementById('id_groups').disabled = true;
        //document.getElementById('id_username').readOnly = true;

    });
    </script>
{% endblock %}


