{% load static i18n %}
<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>Código</th>
            <th>Proceso</th>
            <th>Responsable</th>
            <th>Edición</th>
            <th>Revisión</th>
            <th>Acciones</th>        
        </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr id="{{ model.id }}">
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    {{ model.abbreviation }}
                </td>
                <td>{% if model.file_exists %}<a href="{{ model.file.url }}" target="_blank">{{ model.name }}</a> {% else %}{{ model.name }}{% endif %}</td>
                <td>{{ model.responsible|default_if_none:"" }}</td>
                <td>{{ model.edition }}</td>
                <td>{{ model.revision }}</td>
                <td>
                    <span class="input-group">

                        <a href="{% url 'base:update_processes' model.id %}"
                            class="btn btn-sm btn-primary btn-primary-transparent" title="modificar">
                        <i class="fa fa-edit"></i>
                        </a>
                  

                        <a href="#" model-url="{% url 'base:delete_processes' model.id %}"
                            class="btn btn-sm btn-primary btn-primary-transparent ml-2 delete_process" title="eliminar">
                        <i class="fa fa-trash"></i>
                        </a>
                   
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% comment %} <tfoot>
        <tr>
            <th>No.</th>
            <th>Código</th>
            <th>Proceso</th>
            <th>Responsable</th>
            <th>Edición</th>
            <th>Revisión</th>            
        </tr>
        </tfoot> {% endcomment %}
    </table>
</div>