{% extends 'P01/objetivo/objetivo.html' %}
{% comment %} {% load staticfiles %} {% endcomment %}
{% load static %}
{% comment %} <script src="{% static 'assets/dist/js/myjs.js' %}"></script> {% endcomment %}
<script src="{% static 'django_select2/django_select2.js' %}"></script>
<script src="{% static 'assets/dist/css/select2.min.css' %}"></script>
<script src="{% static 'assets/dist/js/select2.min.js' %}"></script>

{% block page_title %}
    <title>SISGEPO | Detalle de Tarea de Objetivo de trabajo</title>
{% endblock %}

{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Detalles de Tarea de Objetivo de trabajo.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Procesos</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Gestión de la información</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active"><a href="{% url 'listar_accion_indicador_objetivo' %}">Tarea de Objetivo de trabajo</a></li>
                            <li class="breadcrumb-item active">Detalles</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    {% comment %} <div class="card-header">
                        <h3 class="card-title">Formulario de Roles del trabajador</h3>
                    </div> {% endcomment %}
                    <!-- /.card-header -->
                    <div class="card-body">
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form id="formAddTarea" class="form-horizontal" method="post" enctype="multipart/form-data" formaction="{% url 'adicionar_objetivo' %}">
                        {% csrf_token %}
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label"><label for="id_fecha_definicion">Objetivo de trabajo:</label></label>
                                    {% if objeto.indicador %}
                                        <p>{{ objeto.indicador.nombre }}</p>
                                    {% else %}
                                        <p>-----------</p>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label"><label for="id_nombre">Código:</label></label>
                                    {% if objeto.indicador %}
                                        <p>{{ objeto.codigo }} del {{ objeto.indicador.objetivo.fecha_definicion|date:"Y" }}</p>
                                    {% else %}
                                        <p>-------</p>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-10">
                                    <label class="control-label"><label for="id_nombre">Nombre:</label></label>
                                    <p>{{ objeto.nombre }}</p>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label"><label for="id_fecha_definicion">Áreas responsables:</label></label>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px">#</th>
                                                <th style="width: 280px">Área</th>
                                                <th>Descripción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for descripcion in desc %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    {% if descripcion.area %}
                                                        {{ descripcion.area.nombre }}
                                                    {% else %}
                                                        Sin asignar
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if descripcion.descripcion %}
                                                        {{ descripcion.descripcion }}
                                                    {% else %}
                                                        ----------
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>                                       
                        </div>    
                    {% block error %}
                    {% endblock %}
                    {% block correcto %}
                    {% endblock %}
                        {% block botones %}
                        <div class="col-md-offset-3 col-md-9">
                            <a href="{% url 'listar_accion_indicador_objetivo' %}" type="button" class="btn btn-danger">Atrás</a>
                        </div>
                        {% endblock %}
                    </form><!-- END FORM-->
                    </div><!-- /.card-body -->
                    </div><!-- /.card -->
                 </div><!-- /.card -->
             </div>  <!-- /.col -->
        </div>  <!-- /.row -->
</section>
{% endblock %}

{% block script %}
<script type="application/javascript">
</script>
{% endblock %}